/*
    Your styles here....
*/

.bar {
    height: 20px;
    background: grey;
    display: inline-block;
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.legend {
  position: absolute;
  /* height:500px; */
  /* width:200px; */
  bottom: 0px;
  left: 10px;
  /* background-color: white; */
  z-index: 100;
}
